---
# handlers file for networking

- name: Restart firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted
  become: true
  when:
    - ansible_service_mgr == "systemd"
    - ansible_virtualization_type != "docker"
